wifi_info: IPv6 address representation breaks Dashboard UI and does not follow RFC5952

### The problem

With the recent IPv6 improvements, people will make more use the `wifi_info` or `ethernet_info` text sensor to display the esphome devices addresses.

Unfortunately the long addresses break the UI elements, because they mask the sensor description and overrun the UI element border.

Furthermore, the default representation does not follow the [RFC 5952 section 4.3](https://www.rfc-editor.org/rfc/rfc5952#section-4.3)

```
4.3.  Lowercase

   The characters "a", "b", "c", "d", "e", and "f" in an IPv6 address
   MUST be represented in lowercase.
```

_Note to the screenshot, here a text filter_ `to_lower` _is applied as a workaround._

![Screenshot 2024-03-26 19 37 21](https://github.com/esphome/issues/assets/47734341/2b587198-53d0-414a-9cf8-b51fbeb5b936)

Please make the effect of the `to_lower` text filter default for this `platform`

### Which version of ESPHome has the issue?

2024.3.0

### What type of installation are you using?

Home Assistant Add-on

### Which version of Home Assistant has the issue?

2024.3.3

### What platform are you using?

ESP8266

### Board

esp01_1m

### Component causing the issue

wifi_info

### Example YAML snippet

```yaml
text_sensor:
  - platform: wifi_info
    ip_address:
      name: IPv4
      update_interval: 90s
      address_1:
        name: IPv6 LL
        filters: 
        - to_lower:
      address_2:
        name: IPv6 GUA
        filters: 
        - to_lower:
      address_3:
        name: IPv6 ULA
        filters: 
        - to_lower:
```


### Anything in the logs that might be useful for us?

_No response_

### Additional information

`ethernet_info` is also affected.

THANK YOU for the IPv6 work! Very much appreciated!

Thank you @heman